.section-title
    font-weight: 600
    font-size: 40px
    line-height: normal
    padding-top: 30px
    padding-bottom: 40px

    +mw(1150)
        font-size: 32px


.section-subtitle
    font-size: 32px
    font-weight: 700
    line-height: 120%
    padding-bottom: 20px

    +mw(1150)
        font-size: 28px

    +mw(750)
        font-size: 14px


.breadcrumbs
    padding: 30px 0px
    font-size: 14px
    max-width: 1650px
    margin: 0 auto

    +mw(750)
        font-size: 12px

    &__separator
        padding: 0 5px

.item-page
    .breadcrumbs
        padding: 30px 15px


.mob
    display: none !important

    +mw(750)
        display: block !important

.desktopBig


    +mw(1150)
        display: none !important

.headerDesktop
    +mw(1150)
        display: none


.bolder
    font-weight: bolder


.hidden
    display: none !important

.red
    color: red

.yellow
    color: #F9CC49


.unvis
    opacity: 0
    visibility: hidden



.eyes
    position: absolute
    z-index: 10
    right: 26px
    top: 18px
    width: 22px
    height: 22px
    cursor: pointer

    +mw(750)
        top: 13px

    svg
        position: absolute
        transition: .2s
        

    .eye
        opacity: 1

    .eye-y
        opacity: 0

    &.active

        .eye
            opacity: 0

        .eye-y
            opacity: 1
