.footer
    background: #1E2021
    
    &__wrapper
        display: flex
        justify-content: space-between
        align-items: flex-start
        padding-top: 40px
        padding-bottom: 52px
        position: relative
        gap: 20px

        +mw(750)
            flex-direction: column

    &__logo
        margin-top: -10px

    &__links-block
        display: flex
        justify-content: space-between
        width: 40%
        min-width: 440px

        // +mw(1100)
        //     flex-direction: column


    &__links-col

    &__link
        padding-bottom: 10px
        font-size: 16px
        font-weight: 600

    &__contacts
        display: flex
        flex-direction: column
        align-items: flex-end

    &__contact
        display: block
        padding-bottom: 10px


    &__phone

    &__address

    &__icons
        display: flex
        align-items: center
        gap: 40px
        padding-top: 20px

        
    &__pay
        display: flex
        align-items: center
        gap: 20px



    &__messenger
        
        display: flex
        gap: 10px


    &__copyright
        position: absolute
        bottom: 21px
        left: 50%
        transform: translateX(-50%)
        font-size: 14px
        font-weight: 500
        line-height: 24px
        opacity: .4