main.wrapper

    .breadcrumbs
        a.breadcrumbs__item(href="/") Главная
        span.breadcrumbs__separator >
        a.breadcrumbs__item Бонусы

    h1.section-title Бонусы

    .bonus

        .bonus__tiles
            .bonus__tile
                .bonus__tile-text
                    p.bonus__tile-text-top 10% от суммы каждого заказа
                    p.bonus__tile-text-bottom на ваш счёт в личный кабинет

                .bonus__tile-img
                    img(src="images/bonus/1.png")

            .bonus__tile
                .bonus__tile-text
                    p.bonus__tile-text-top 500 ₽ за покупки ваших друзей
                    p.bonus__tile-text-bottom на ваш счёт в личный кабинет

                .bonus__tile-img
                    img(src="images/bonus/2.png")

        p.bonus__title Как работает бонусная программа?

        .bonus__iconline.iconlines
            img.arr1.iconlines__arr(src="images/bonus/right-arrow.png")
            img.arr2.iconlines__arr(src="images/bonus/right-arrow2.png")
            img.arr3.iconlines__arr(src="images/bonus/right-arrow.png")
            .iconline
                img(src="images/bonus/icon-1.png")
                p.iconline__title Регистрируйтесь в программе
                span.iconline__btn.btn Зарегистрироваться
            .iconline
                img(src="images/bonus/icon-2.png")
                p.iconline__title Заказывайте
                span.iconline__text Делайте заказы, находясь на сайте с активным личным кабинетом
            .iconline
                img(src="images/bonus/icon-3.png")
                p.iconline__title Накапливайте бонусы
                span.iconline__text Получайте бонусы за любые покупки на Любимый-цветочный.рф, покупки ваших друзей, получайте персональные скидки
            .iconline
                img(src="images/bonus/icon-4.png")
                p.iconline__title Расплачивайтесь бонусами
                span.iconline__text Оплачивайте до 50% стоимости заказа Бонусными рублями

        p.bonus__title Бонусы Любимый-цветочный.рф

        .bonus__numbers
            .bonus__number
                p.bonus__number-num 01
                p.bonus__number-title Накопительный бонус 10% от суммы каждого вашего заказа — на ваш счет в личный кабинет!
                p.bonus__number-text Вы можете оплатить 50% заказа бонусными рублями
            .bonus__number
                p.bonus__number-num 02
                p.bonus__number-title Накопительный бонус 500р за первые покупки ваших друзей — на ваш счет в личный кабинет!
                p.bonus__number-text Для активации БОНУСА – друг должен указать Ваш номер промокода в поле "промокод" при оформлении заказа. Введённый номер в поле "промокод" должен совпадать с номером промокода указанном в вашем личном кабинете!
            .bonus__number
                p.bonus__number-num 03
                p.bonus__number-title Индивидуальное начисление бонусов и подарков участникам программы "БОНУС"
                p.bonus__number-text Получайте индивидуальные предложения, скидки и промокоды и используйте их при заказе! Убедитесь, что на ваш e-mail приходят наши акции!


        .bonus__btn
            span.btn Зарегистрироваться

        p.bonus__title Условия и правила программы «Бонусы Любимый-цветочный.рф»


        .bonus__accordeon.accordeon
            .accordeon__item.expand
                .accordeon__title 1. Условия участия в программе
                .accordeon__content
                    .accordeon__text.
                        1.1. Участником Программы «Бонус» (далее – Программа) может стать любое физическое лицо – потребитель, который покупает товары для личного или в подарок и которому на момент регистрации исполнилось 18 лет (далее – Участник).
                        1.2. Для участия в Программе вам необходимо зарегистрироваться в Личном кабинете на сайте любимый-цветочный.рф. Участие в Программе бесплатное.
            .accordeon__item
                .accordeon__title 2. Регистрация в программе
                .accordeon__content
                    .accordeon__text.
                        1.1. Участником Программы «Бонус» (далее – Программа) может стать любое физическое лицо – потребитель, который покупает товары для личного или в подарок и которому на момент регистрации исполнилось 18 лет (далее – Участник).
                        1.2. Для участия в Программе вам необходимо зарегистрироваться в Личном кабинете на сайте любимый-цветочный.рф. Участие в Программе бесплатное.
            .accordeon__item
                .accordeon__title 3. Начисление бонусных рублей
                .accordeon__content
                    .accordeon__text.
                        1.1. Участником Программы «Бонус» (далее – Программа) может стать любое физическое лицо – потребитель, который покупает товары для личного или в подарок и которому на момент регистрации исполнилось 18 лет (далее – Участник).
                        1.2. Для участия в Программе вам необходимо зарегистрироваться в Личном кабинете на сайте любимый-цветочный.рф. Участие в Программе бесплатное.

            .accordeon__item
                .accordeon__title 4. Порядок активации бонусных рублей
                .accordeon__content
                    .accordeon__text.
                        1.1. Участником Программы «Бонус» (далее – Программа) может стать любое физическое лицо – потребитель, который покупает товары для личного или в подарок и которому на момент регистрации исполнилось 18 лет (далее – Участник).
                        1.2. Для участия в Программе вам необходимо зарегистрироваться в Личном кабинете на сайте любимый-цветочный.рф. Участие в Программе бесплатное.

            .accordeon__item
                .accordeon__title 5. Порядок использования и сгорания бонусных рублей
                .accordeon__content
                    .accordeon__text.
                        1.1. Участником Программы «Бонус» (далее – Программа) может стать любое физическое лицо – потребитель, который покупает товары для личного или в подарок и которому на момент регистрации исполнилось 18 лет (далее – Участник).
                        1.2. Для участия в Программе вам необходимо зарегистрироваться в Личном кабинете на сайте любимый-цветочный.рф. Участие в Программе бесплатное.

            .accordeon__item
                .accordeon__title 6. Информация по бонусному счету
                .accordeon__content
                    .accordeon__text.
                        1.1. Участником Программы «Бонус» (далее – Программа) может стать любое физическое лицо – потребитель, который покупает товары для личного или в подарок и которому на момент регистрации исполнилось 18 лет (далее – Участник).
                        1.2. Для участия в Программе вам необходимо зарегистрироваться в Личном кабинете на сайте любимый-цветочный.рф. Участие в Программе бесплатное.

            .accordeon__item
                .accordeon__title 7. Прочие положения
                .accordeon__content
                    .accordeon__text.
                        1.1. Участником Программы «Бонус» (далее – Программа) может стать любое физическое лицо – потребитель, который покупает товары для личного или в подарок и которому на момент регистрации исполнилось 18 лет (далее – Участник).
                        1.2. Для участия в Программе вам необходимо зарегистрироваться в Личном кабинете на сайте любимый-цветочный.рф. Участие в Программе бесплатное.

