.catalog
    
    .catalog__item
        img.catalog__item-hit(src="images/catalog/2.svg")
        a.catalog__item-img(href="item.html")
            img.catalog__item-img-img(src="images/catalog/1.png")
            img.catalog__item-present(src="images/catalog/candies.svg")
        .catalog__item-info
            a.catalog__item-name(href="item.html" data-crop) 101 роза микс с лентой 101 роза микс с лентой 101 роза микс с лентой 101 роза микс с лентой
            .catalog__item-lenght Длина цветка: 40 см
            .catalog__item-bottomWrap
                .catalog__item-price 9 999 ₽
                .catalog__item-order
                    a.catalog__item-btn.btn
                        svg
                            use(xlink:href="images/sprite.svg#bask")
                        span В корзину

                    a.catalog__item-fast(data-modal="instant") Быстрый заказ

            

            
    .catalog__item
        a.catalog__item-img(href="item.html")
            img.catalog__item-img-img(src="images/catalog/2.png")
            img.catalog__item-present(src="images/catalog/3.svg")
        .catalog__item-info
            a.catalog__item-name(href="item.html" data-crop) 15 кустовых роз микс с атласной лентой
            .catalog__item-lenght Длина цветка: 40 см
            .catalog__item-bottomWrap
                .catalog__item-price 9 999 ₽
                .catalog__item-order
                    a.catalog__item-btn.btn
                        svg
                            use(xlink:href="images/sprite.svg#bask")
                        span В корзину

                    a.catalog__item-fast(data-modal="instant") Быстрый заказ

            


    .catalog__item
        a.catalog__item-img(href="item.html")
            img.catalog__item-img-img(src="images/catalog/3.png")
        .catalog__item-info
            a.catalog__item-name(href="item.html" data-crop) 101 роза микс с лентой
            .catalog__item-lenght Длина цветка: 40 см
            .catalog__item-bottomWrap
                .catalog__item-price 9 999 ₽
                .catalog__item-order
                    a.catalog__item-btn.btn
                        svg
                            use(xlink:href="images/sprite.svg#bask")
                        span В корзину

                    a.catalog__item-fast(data-modal="instant") Быстрый заказ



    .catalog__item
        
        a.catalog__item-img(href="item.html")
            img.catalog__item-img-img(src="images/catalog/4.png")
            img.catalog__item-present(src="images/catalog/candies.svg")
        .catalog__item-info
            a.catalog__item-name(href="item.html" data-crop) 101 роза микс с лентой
            .catalog__item-lenght Длина цветка: 40 см
            .catalog__item-bottomWrap
                .catalog__item-price 9 999 ₽
                .catalog__item-order
                    a.catalog__item-btn.btn
                        svg
                            use(xlink:href="images/sprite.svg#bask")
                        span В корзину

                    a.catalog__item-fast(data-modal="instant") Быстрый заказ



    .catalog__item
        img.catalog__item-hit(src="images/catalog/2.svg")
        a.catalog__item-img(href="item.html")
            img.catalog__item-img-img(src="images/catalog/5.png")
        .catalog__item-info
            a.catalog__item-name(href="item.html" data-crop) 15 кустовых роз микс с атласной лентой
            .catalog__item-lenght Длина цветка: 40 см
            .catalog__item-bottomWrap
                .catalog__item-price 9 999 ₽
                .catalog__item-order
                    a.catalog__item-btn.btn
                        svg
                            use(xlink:href="images/sprite.svg#bask")
                        span В корзину

                    a.catalog__item-fast(data-modal="instant") Быстрый заказ



    .catalog__item
        a.catalog__item-img(href="item.html")
            img.catalog__item-img-img.catalog__item-img-img(src="images/catalog/6.png")
            img.catalog__item-present(src="images/catalog/3.svg")
        .catalog__item-info
            a.catalog__item-name(href="item.html" data-crop) 101 роза микс с лентой
            .catalog__item-lenght Длина цветка: 40 см
            .catalog__item-bottomWrap
                .catalog__item-price 9 999 ₽
                .catalog__item-order
                    a.catalog__item-btn.btn
                        svg
                            use(xlink:href="images/sprite.svg#bask")
                        span В корзину

                    a.catalog__item-fast(data-modal="instant") Быстрый заказ



    .catalog__item
        a.catalog__item-img(href="item.html")
            img.catalog__item-img-img(src="images/catalog/7.png")
        .catalog__item-info
            a.catalog__item-name(href="item.html" data-crop) 101 роза микс с лентой
            .catalog__item-lenght Длина цветка: 40 см
            .catalog__item-bottomWrap
                .catalog__item-price 9 999 ₽
                .catalog__item-order
                    a.catalog__item-btn.btn
                        svg
                            use(xlink:href="images/sprite.svg#bask")
                        span В корзину

                    a.catalog__item-fast(data-modal="instant") Быстрый заказ



    include ../layout/construct.pug

    .catalog__item
        img.catalog__item-hit(src="images/catalog/2.svg")
        a.catalog__item-img(href="item.html")
            img.catalog__item-img-img(src="images/catalog/1.png")
            img.catalog__item-present(src="images/catalog/candies.svg")
        .catalog__item-info
            a.catalog__item-name(href="item.html" data-crop) 101 роза микс с лентой
            .catalog__item-lenght Длина цветка: 40 см
            .catalog__item-bottomWrap
                .catalog__item-price 9 999 ₽
                .catalog__item-order
                    a.catalog__item-btn.btn
                        svg
                            use(xlink:href="images/sprite.svg#bask")
                        span В корзину

                    a.catalog__item-fast(data-modal="instant") Быстрый заказ


            
    .catalog__item
        a.catalog__item-img(href="item.html")
            img.catalog__item-img-img(src="images/catalog/2.png")
        .catalog__item-info
            a.catalog__item-name(href="item.html" data-crop) 15 кустовых роз микс с атласной лентой
            .catalog__item-lenght Длина цветка: 40 см
            .catalog__item-bottomWrap
                .catalog__item-price 9 999 ₽
                .catalog__item-order
                    a.catalog__item-btn.btn
                        svg
                            use(xlink:href="images/sprite.svg#bask")
                        span В корзину

                    a.catalog__item-fast(data-modal="instant") Быстрый заказ



    .catalog__item
        a.catalog__item-img(href="item.html")
            img.catalog__item-img-img(src="images/catalog/3.png")
        .catalog__item-info
            a.catalog__item-name(href="item.html" data-crop) 101 роза микс с лентой
            .catalog__item-lenght Длина цветка: 40 см
            .catalog__item-bottomWrap
                .catalog__item-price 9 999 ₽
                .catalog__item-order
                    a.catalog__item-btn.btn
                        svg
                            use(xlink:href="images/sprite.svg#bask")
                        span В корзину

                    a.catalog__item-fast(data-modal="instant") Быстрый заказ



    .catalog__item
        
        a.catalog__item-img(href="item.html")
            img.catalog__item-img-img(src="images/catalog/4.png")
        .catalog__item-info
            a.catalog__item-name(href="item.html" data-crop) 101 роза микс с лентой
            .catalog__item-lenght Длина цветка: 40 см
            .catalog__item-bottomWrap
                .catalog__item-price 9 999 ₽
                .catalog__item-order
                    a.catalog__item-btn.btn
                        svg
                            use(xlink:href="images/sprite.svg#bask")
                        span В корзину

                    a.catalog__item-fast(data-modal="instant") Быстрый заказ



    .catalog__item
        img.catalog__item-hit(src="images/catalog/2.svg")
        a.catalog__item-img(href="item.html")
            img.catalog__item-img-img(src="images/catalog/5.png")
        .catalog__item-info
            a.catalog__item-name(href="item.html" data-crop) 101 роза микс с лентой
            .catalog__item-lenght Длина цветка: 40 см
            .catalog__item-bottomWrap
                .catalog__item-price 9 999 ₽
                .catalog__item-order
                    a.catalog__item-btn.btn
                        svg
                            use(xlink:href="images/sprite.svg#bask")
                        span В корзину

                    a.catalog__item-fast(data-modal="instant") Быстрый заказ



    .catalog__item
        a.catalog__item-img(href="item.html")
            img.catalog__item-img-img(src="images/catalog/6.png")
        .catalog__item-info
            a.catalog__item-name(href="item.html" data-crop) 101 роза микс с лентой
            .catalog__item-lenght Длина цветка: 40 см
            .catalog__item-bottomWrap
                .catalog__item-price 9 999 ₽
                .catalog__item-order
                    a.catalog__item-btn.btn
                        svg
                            use(xlink:href="images/sprite.svg#bask")
                        span В корзину

                    a.catalog__item-fast(data-modal="instant") Быстрый заказ



    .catalog__item
        a.catalog__item-img(href="item.html")
            img.catalog__item-img-img(src="images/catalog/7.png")
        .catalog__item-info
            a.catalog__item-name(href="item.html" data-crop) 101 роза микс с лентой
            .catalog__item-lenght Длина цветка: 40 см
            .catalog__item-bottomWrap
                .catalog__item-price 9 999 ₽
                .catalog__item-order
                    a.catalog__item-btn.btn
                        svg
                            use(xlink:href="images/sprite.svg#bask")
                        span В корзину

                    a.catalog__item-fast(data-modal="instant") Быстрый заказ



