main.wrapper

    .breadcrumbs
        a.breadcrumbs__item(href="/") Главная
        span.breadcrumbs__separator >
        a.breadcrumbs__item Контакты

    h1.section-title.contacts__title Контакты

    .contacts

        .contacts__info
            .contacts__info-inner
                a.contacts__info-line(href="tel:+79090022106")
                    svg(width="20" height="20")
                        use(xlink:href="images/sprite.svg#tel")
                    span +7 (909) 00-22-106

                a.contacts__info-line(href="tel:+73432022106")
                    svg(width="20" height="20")
                        use(xlink:href="images/sprite.svg#tel")
                    span +7 (343) 20-22-106

                a.contacts__info-line(href="")
                    svg(width="20" height="20")
                        use(xlink:href="images/sprite.svg#mapDot")
                    span Временно работает только доставка

                a.contacts__info-line(href="mailto:vbukete.rf@gmail.com")
                    svg(width="20" height="20")
                        use(xlink:href="images/sprite.svg#mail")
                    span vbukete.rf@gmail.com

                a.contacts__info-line(href="https://vk.com/vbukete_rf")
                    svg(width="20" height="20")
                        use(xlink:href="images/sprite.svg#vk")
                    span Ссылка на группу ВК

                a.contacts__info-line(href="https://instagram.com/vbukete_rf/")
                    svg(width="20" height="20")
                        use(xlink:href="images/sprite.svg#inst")
                    span Ссылка на страницу Инстаграм


            .contacts__messengers
                a(href="viber://chat?number=+79090022106" target="_blank")
                        svg(width="30" height="30")
                            use(xlink:href="images/sprite.svg#viber")
                a(href="https://wa.me/79090022106" target="_blank")
                    svg(width="30" height="30")
                        use(xlink:href="images/sprite.svg#wa")

        .contacts__map
            <div class="contacts__map-inner" style="position:relative;overflow:hidden;">
                <a href="https://yandex.ru/maps/org/vbukete_rf/1626904109/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Вбукете.рф</a>
                <a href="https://yandex.ru/maps/54/yekaterinburg/category/flowers_and_bouquets_delivery/184108319/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Доставка цветов и букетов в Екатеринбурге</a>
                <a href="https://yandex.ru/maps/54/yekaterinburg/category/flower_shop/184108325/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:28px;">Магазин цветов в Екатеринбурге</a>
                <iframe src="https://yandex.ru/map-widget/v1/org/vbukete_rf/1626904109/?ll=60.543764%2C56.821410&z=17"  frameborder="1" allowfullscreen="true" style="position:relative;">
                </iframe>
            </div>


    .contacts__ur
        p ИП Кауртаев Сергей Юрьевич, ИНН: 667115690012, ОГРН 318665800030848,
        p Юридический адрес: 620016, г. Екатеринбург. ул. Серафимы Дерябиной 43
        p Фактический адрес: 620043, г. Екатеринбург. ул. Репина 99
        p Наименование банка: Филиал «Екатеринбург» АО «АЛЬФА-БАНК» г. Екатеринбург, номер счета 40802810038190001422,
        p Корреспондентский счет: №30101810100000000964, БИК: 046577964
            


