main.wrapper

    .breadcrumbs
        a.breadcrumbs__item(href="/") Главная
        span.breadcrumbs__separator >
        a.breadcrumbs__item Доставка

        h1.section-title Доставка

        .delivery
            .delivery__columns
                .delivery__column
                    p.delivery__column-title Стоимость доставки с 09:00 до 22:00 не в отдалённые районы:
                    .delivery__line
                        .delivery__line-city.inp Сумма заказа до 1 500 ₽
                        .delivery__line-price.inp 250 ₽
                    .delivery__line
                        .delivery__line-city.inp Сумма заказа до 1 500 ₽
                        .delivery__line-price.inp 0 ₽
                .delivery__column
                    p.delivery__column-title Стоимость доставки с 09:00 до 22:00 в отдаленные районы:
                    .delivery__line
                        .delivery__line-city.inp Сумма заказа до 2 500 ₽
                        .delivery__line-price.inp 350 ₽
                    .delivery__line
                        .delivery__line-city.inp Сумма заказа от 2 500 ₽
                        .delivery__line-price.inp 0 ₽
                .delivery__column
                    p.delivery__column-title Стоимость доставки с 22:00 до 09:00 по Екатеринбургу (кроме пригорода):
                    .delivery__line
                        .delivery__line-city.inp Сумма заказа до 5 000 ₽
                        .delivery__line-price.inp 300 ₽
                    .delivery__line
                        .delivery__line-city.inp Сумма заказа от 5 000 ₽
                        .delivery__line-price.inp 0 ₽


            p.delivery__text * Условия бесплатной доставки на некоторые акционные позиции не распространяются, подробности уточняйте у консультантов. В пригороды доставка оплачивается в индивидуальном порядке, стоимость и условия можно узнать у менеджеров нашей компании. 
            p.delivery__text Доставка ночным курьером осуществляется с 22:00 вечера, до 9:00 утра. В этот временной промежуток все доставки независимо от суммы заказа осуществляются только по предварительной оплате. Доставка в пригород оплачивается согласно таблице, приведенной ниже, если Вы не нашли нужный населенный пункт, то стоимость можно уточнить у наших администраторов 8-909-00-22-106. 
            p.delivery__text Условия доставки воздушных шаров, цветочных композиций крупногабаритных размеров и некоторых акционных предложений отличаются от стандартных, все подробности Вы всегда можете выяснить у администраторов нашей компании по телефону 8-909-00-22-106 или непосредственно в магазинах. Например, доставка на минимальные акционные позиции, шары (от 30 штук) — всегда платная, стоимость доставки не в отдаленные районы - 250 рублей (в период с 9-22:00), в отдаленные районы — 350 рублей (в период с 9-22:00). 
            p.delivery__text * Под отдалёнными районами понимаются: Химмаш, Светлый, Нижнеисетский, Сосновый бор, Птицефабрика, Компрессорный, Вторчермет (частично), Елизавет, Широкая речка, Конный полуостров, 7 ключей, Палникс, Галактика, Образцово, Мичуринский, Керамика, Южная Подстанция, Солнечный, Малый Исток, Лечебный, Шарташ.
            p.delivery__text ** Под пригородами понимается: Большой Исток**, Исток**, Арамиль, Верхняя Пышма**, оз. Шарташ**, Новоберёзовский**, Берёзовский**, Среднеуральск**, Медный**, Северка**, Первоуральск**. 
            p.delivery__text ** По предоплате.

            .delivery__hr

            .delivery__title Доставка по городам спутникам:
            .delivery__cities.delivery__columns
                .delivery__column
                    .delivery__line
                        .delivery__line-city.inp Арамиль
                        .delivery__line-price.inp 650 ₽
                    .delivery__line
                        .delivery__line-city.inp Оз. Балтым
                        .delivery__line-price.inp 650 ₽
                    .delivery__line
                        .delivery__line-city.inp Берёзовский
                        .delivery__line-price.inp 500 ₽
                    .delivery__line
                        .delivery__line-city.inp Белоярский
                        .delivery__line-price.inp 1 300 ₽
                    .delivery__line
                        .delivery__line-city.inp Б. Седельниково
                        .delivery__line-price.inp 850 ₽
                    .delivery__line
                        .delivery__line-city.inp Бобровский
                        .delivery__line-price.inp 850 ₽
                    .delivery__line
                        .delivery__line-city.inp Большой Исток
                        .delivery__line-price.inp 650 ₽
                    .delivery__line
                        .delivery__line-city.inp Верхнее Дуброво
                        .delivery__line-price.inp 850 ₽
                    .delivery__line
                        .delivery__line-city.inp Верхняя Пышма
                        .delivery__line-price.inp 500 ₽
                    .delivery__line
                        .delivery__line-city.inp Верхняя Сысерть
                        .delivery__line-price.inp 1 600 ₽
                    .delivery__line
                        .delivery__line-city.inp Горный Щит
                        .delivery__line-price.inp 650 ₽
                    .delivery__line
                        .delivery__line-city.inp Двуреченск
                        .delivery__line-price.inp 1 500 ₽
                    .delivery__line
                        .delivery__line-city.inp Дегтярск
                        .delivery__line-price.inp 1 600 ₽
                    .delivery__line
                        .delivery__line-city.inp Заречный
                        .delivery__line-price.inp 1 600 ₽
                    .delivery__line
                        .delivery__line-city.inp Зелёный Бор
                        .delivery__line-price.inp 650 ₽
                    .delivery__line
                        .delivery__line-city.inp Изоплит
                        .delivery__line-price.inp 450 ₽
                    .delivery__line
                        .delivery__line-city.inp Исток
                        .delivery__line-price.inp 650 ₽
                    .delivery__line
                        .delivery__line-city.inp Карасьеозёрский
                        .delivery__line-price.inp 450 ₽
                
                .delivery__column
                    .delivery__line
                        .delivery__line-city.inp Карасьеозёрский 2
                        .delivery__line-price.inp 450 ₽
                    .delivery__line
                        .delivery__line-city.inp Кашино
                        .delivery__line-price.inp 1 200 ₽
                    .delivery__line
                        .delivery__line-city.inp Кедровка
                        .delivery__line-price.inp 650 ₽
                    .delivery__line
                        .delivery__line-city.inp Коптяки
                        .delivery__line-price.inp 650 ₽
                    .delivery__line
                        .delivery__line-city.inp Косулино
                        .delivery__line-price.inp 950 ₽
                    .delivery__line
                        .delivery__line-city.inp Курганово
                        .delivery__line-price.inp 850 ₽
                    .delivery__line
                        .delivery__line-city.inp Малый Исток
                        .delivery__line-price.inp 450 ₽
                    .delivery__line
                        .delivery__line-city.inp Медный
                        .delivery__line-price.inp 450 ₽
                    .delivery__line
                        .delivery__line-city.inp Монетный
                        .delivery__line-price.inp 1 200 ₽
                    .delivery__line
                        .delivery__line-city.inp Новоуральск
                        .delivery__line-price.inp 2 500 ₽
                    .delivery__line
                        .delivery__line-city.inp Октябрьский
                        .delivery__line-price.inp 950 ₽
                    .delivery__line
                        .delivery__line-city.inp Палкинский торфяник
                        .delivery__line-price.inp 450 ₽
                    .delivery__line
                        .delivery__line-city.inp Патруши
                        .delivery__line-price.inp 650 ₽
                    .delivery__line
                        .delivery__line-city.inp Первоуральск
                        .delivery__line-price.inp 1 200 ₽
                    .delivery__line
                        .delivery__line-city.inp Ул.Перспективная
                        .delivery__line-price.inp 450 ₽
                    .delivery__line
                        .delivery__line-city.inp Полеводство
                        .delivery__line-price.inp 650 ₽
                    .delivery__line
                        .delivery__line-city.inp Полевской
                        .delivery__line-price.inp 1 500 ₽
                    .delivery__line
                        .delivery__line-city.inp Прохладный
                        .delivery__line-price.inp 850 ₽
                
                .delivery__column
                    .delivery__line
                        .delivery__line-city.inp Растущий
                        .delivery__line-price.inp 850 ₽
                    .delivery__line
                        .delivery__line-city.inp Ревда
                        .delivery__line-price.inp 1 200 ₽
                    .delivery__line
                        .delivery__line-city.inp Решёты
                        .delivery__line-price.inp 750 ₽
                    .delivery__line
                        .delivery__line-city.inp Рудный
                        .delivery__line-price.inp 450 ₽
                    .delivery__line
                        .delivery__line-city.inp Садовый
                        .delivery__line-price.inp 750 ₽
                    .delivery__line
                        .delivery__line-city.inp Санаторный
                        .delivery__line-price.inp 650 ₽
                    .delivery__line
                        .delivery__line-city.inp Северка
                        .delivery__line-price.inp 750 ₽
                    .delivery__line
                        .delivery__line-city.inp Среднеуральск
                        .delivery__line-price.inp 650 ₽
                    .delivery__line
                        .delivery__line-city.inp Становая
                        .delivery__line-price.inp 750 ₽
                    .delivery__line
                        .delivery__line-city.inp Старопышминск
                        .delivery__line-price.inp 750 ₽
                    .delivery__line
                        .delivery__line-city.inp Сысерть
                        .delivery__line-price.inp 1 200 ₽
                    .delivery__line
                        .delivery__line-city.inp Чусовское озеро
                        .delivery__line-price.inp 650 ₽
                    .delivery__line
                        .delivery__line-city.inp Шабровский
                        .delivery__line-price.inp 850 ₽
                    .delivery__line
                        .delivery__line-city.inp Шишкино
                        .delivery__line-price.inp 750 ₽
                    .delivery__line
                        .delivery__line-city.inp Шувакиш
                        .delivery__line-price.inp 500 ₽
                    .delivery__line
                        .delivery__line-city.inp Кольцово
                        .delivery__line-price.inp 450 ₽



            p.delivery__text В праздничные дни все доставки платные, тарифы уточняйте у менеджеров компании. Временной интервал с 1 часа, может быть увеличен до 3 часов. Для осуществления доставки, в праздничные дни, сумма заказа должна быть не менее 2000 руб., без учета суммы доставки. (Праздничными днями являются: Новый Год (период с 28 декабря по 01 января), День Святого Валентина(период с 13 по 14 февраля), 8 Марта ( период с 05 по 09 марта), 1 сентября (31 августа-1 сентября), день Матери (последние сб и вс ноября).
            p.delivery__text Нашей компанией ежедневно круглосуточно осуществляется доставка цветов и подарков по Екатеринбургу и пригородам в радиусе 50 км. Чтобы своевременно получить свой заказ, Вы должны точно указывать временной интервал, который составляет 1 час, т.е., например, Вы выбираете время с 15-16 часов — в течение этого часа, получателю/заказчику необходимо находиться по указанному адресу, чтобы принять заказ. Время ожидания курьера на адресе не более 15 минут. Курьер может подъехать в любое время в течение оговоренного Вами часа. В противном случае, если в указанное время по указанному адресу не будет получателя/заказчика, то курьер будет вынужден забрать заказ обратно в салон. Далее судьбу заказа решает заказчик, необходимо либо оплатить повторную доставку, либо Вы можете забрать заказ самостоятельно, с адреса салона, в который его отвезли. Адрес, куда именно был привезен не доставленный заказ и всю информацию Вы можете уточнить по нашему круглосуточному номеру 8-909-00-22-106. При оплате повторной доставки, время ее осуществления обсуждается вместе с администратором, в зависимости от маршрутного листа курьера. Обратите Ваше внимание, что мы не звоним предварительно получателю перед доставкой, чтобы не портить сюрприз, исключение составляют лишь случаи, когда заказчик сам просит осуществить предварительный звонок. Наш цветок проходит осмотр менеджером по качеству, прежде чем попадает на доставку, тем не менее, обязательно проводите самостоятельный осмотр цветка при принятии заказа, если возникают какие-либо вопросы, немедленно сообщите о них администратору/курьеру по нашему телефону 8-909-00-22-106. 
            p.delivery__text К каждому заказу курьеру выдаётся фирменный бланк о вручении. В данном бланке получатель проставляет время, когда был доставлен заказ, проверяет качество и расписывается в получении. 
            p.delivery__text Доставка цветов по Екатеринбургу возможна при заказе на сумму не менее 500 рублей, без учета суммы доставки. Если сумма заказа не превышает 500 рублей, то в этом случае Вы сможете забрать букет только самовывозом из наших магазинов.

            p.delivery__text Цветы являются универсальным подарком. Их дарят на любые праздники и торжества, а также просто как знак внимания, уважения и признательности. С помощью роскошного букета можно завоевать сердце возлюбленной, вернуть расположение к себе, поблагодарить человека и проявить свое почтение. 
            p.delivery__text Наш магазин доставки цветов Любимый-цветочный.рф помогает своим клиентам реализовать свои самые сокровенные цели. У нас можно оформить заказ любых цветов с доставкой по Екатеринбургу. Кроме того, мы бережем время своих покупателей и предлагаем выбрать цветы через интернет магазин. Это очень удобно, так как позволяет купить свежие цветы с доставкой по городу. 
            p.delivery__text В нашем магазине доставки цветов представлен широчайший ассортимент разнообразных букетов и композиций. Некоторые из них величественны и помпезны, другие скромны и нежны. В самый торжественный день своей жизни не потребуется суетиться и искать цветы, служба доставки цветов Любимый-цветочный.рф привезет Вам ее по указанному адресу. 
            p.delivery__text Оформить заказ цветов с доставкой по Екатеринбургу очень просто, достаточно позвонить по телефону 8-909-00-22-106. Обговорить заявку и все нюансы с нашим менеджером. 
            p.delivery__text Также заказ можно оформить по нашим адресам:

            .delivery__addressLines
                .delivery__addressLine
                    svg(width="20" height="20")
                        use(xlink:href="images/sprite.svg#mapDot")

                    p Репина, 99 — круглосуточный гипермаркет цветов
                    
                .delivery__addressLine
                    svg(width="20" height="20")
                        use(xlink:href="images/sprite.svg#mapDot")

                    p 8 Марта, 57 — круглосуточный салон
                    
                .delivery__addressLine
                    svg(width="20" height="20")
                        use(xlink:href="images/sprite.svg#mapDot")

                    p Машиностроителей, 10 — салон цветов (9:00 - 21:00)
                    
                .delivery__addressLine
                    svg(width="20" height="20")
                        use(xlink:href="images/sprite.svg#mapDot")

                    p Вильгельма де Геннина, 40 — салон цветов (8:00 - 21:00)

            p.delivery__text Богатый ассортимент позволит всем желающим купить цветы с доставкой оперативно и выгодно. Красивая композиция окажется по указанному адресу в назначенное время, потому что компания Любимый-цветочный.рф работает эффективно и без перебоев. Гибкая политика ценообразования приятно удивит наших клиентов теплыми ценниками — у нас можно дешево заказать доставку цветов.
                

