footer.footer
    .footer__wrapper.wrapper
        img.footer__logo(src="/images/header/logo.png")

        .footer__links-block
            ul.footer__links-col
                li.footer__link 
                    a Оплата
                li.footer__link 
                    a Доставка
                li.footer__link 
                    a Контакты

            ul.footer__links-col
                li.footer__link 
                    a Скидки
                li.footer__link 
                    a Бонусы

            ul.footer__links-col
                li.footer__link 
                    a Правила компании
                li.footer__link 
                    a Политика конфиденциальности

        .footer__contacts
            a.footer__contact.footer__phone(href="+79090022106") +7 (909) 00-22-106
            a.footer__contact.footer__phone(href="+73432022106") +7 (343) 20-22-106
            a.footer__contact.footer__address 620043, г. Екатеринбург. ул. Репина 99

            .footer__icons

                .footer__pay
                    img(src="/images/footer/visa.png")
                    img(src="/images/footer/mc.png")
                    img(src="/images/footer/sber.png")
                .footer__messenger
                    svg(width="30" height="30")
                        use(xlink:href="images/sprite.svg#viber")
                    svg(width="30" height="30")
                        use(xlink:href="images/sprite.svg#wa")

        p.footer__copyright © 2009 - 2023г. «Любимый-цветочный.рф»


include ../layout/modals.pug


script(src="libs/jquery.min.js")
//- scriot(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
script(src="libs/slick.min.js")
script(src="libs/swiper-bundle.min.js")
script(src="scripts/main.js")
