.logos
    a.logo
        .logo-img
            img(src="images/catalog/logo/1.png")
        span.logo__name.mob Caterpillar
    a.logo
        .logo-img
            img(src="images/catalog/logo/2.png")
        span.logo__name.mob Komatsu
    a.logo
        .logo-img
            img(src="images/catalog/logo/3.png")
        span.logo__name.mob Hitachi
    a.logo
        .logo-img
            img(src="images/catalog/logo/1.png")
        span.logo__name.mob ДСТ Урал
    a.logo
        .logo-img
            img(src="images/catalog/logo/2.png")
        span.logo__name.mob JCB
    a.logo
        .logo-img
            img(src="images/catalog/logo/6.png")
        span.logo__name.mob Volvo
    a.logo
        .logo-img
            img(src="images/catalog/logo/7.png")
        span.logo__name.mob Caterpillar
    a.logo
        .logo-img
            img(src="images/catalog/logo/8.png")
        span.logo__name.mob Komatsu
    a.logo
        .logo-img
            img(src="images/catalog/logo/9.png")
        span.logo__name.mob Hitachi
    a.logo
        .logo-img
            img(src="images/catalog/logo/10.png")
        span.logo__name.mob ДСТ Урал
    a.logo
        .logo-img
            img(src="images/catalog/logo/11.png")
        span.logo__name.mob Caterpillar