.modal
    .modal__content
        .modal__close-cross.modal__close
        .modal__content-inner
                
                



.modal__templates.hidden

    .delivery
        img(src = "images/modal/1.png")
        h2.modal__header Бесплатная доставка от 1&nbsp;500₽
        p.modal__text Бесплатная доставка осуществляется только по городу. <br> Подробности уточняйте по телефону <a href="tel:+73432022106">+7 (343) 20-22-106</a>
        a.modal__btn.btn.modal__close Вернуться к заказу

        
    .cashback
        img(src = "images/modal/2.png")
        h2.modal__header Вернём 10% на счёт
        p.modal__text 10% от суммы каждого заказа на ваш счёт в личный кабинет
        a.modal__btn.btn подробнее о бонусной программе


    .photoBouqet
        img(src = "images/modal/3.png")
        h2.modal__header Фото букета
        p.modal__text Перед доставкой мы сделаем и отправим вам фото готового букета
        a.modal__btn.btn
            svg(width="20" height="20")
                use(xlink:href="images/sprite.svg#shop")
            span добавить к заказу
            
    .feeding
        img(src = "images/modal/4.png")
        h2.modal__header Подкормка <br> для цветов
        p.modal__text Бесплатно при покупке букета
        a.modal__btn.btn
            svg(width="20" height="20")
                use(xlink:href="images/sprite.svg#shop")
            span добавить к заказу


    .card
        img.cardSmall(src="images/modal/5.png")
        img.cardBig.hidden(src="images/modal/6.png")
        h2.modal__header Открытка

        .modal__radios
            
            label.modal__radio
                input(type="radio", name="lenght" data-cardsize="small")
                span.modal__dot.dot
                span.modal__name Открытка букетная (бесплатно)
            label.modal__radio
                input(type="radio", name="lenght"  data-cardsize="big" data-price=70)
                span.modal__dot.dot
                span.modal__name Открытка большая / +70 ₽

        .modal__textareaWrap.textAreaBig
            p Текст пожелания (не обязательно)
            textarea.modal__textarea.textAreaSmall(noresize name="cardText" placeholder="Введите текст пожелания")
            textarea.modal__textarea.textAreaBig.hidden(noresize name="cardText" placeholder="Введите текст пожелания")
            span.modal__counter
            


        a.modal__btn.btn
            svg(width="20" height="20")
                use(xlink:href="images/sprite.svg#shop")
            span добавить к заказу


    .vase
        h2.modal__header Добавить вазу
        .item__slider-arrows
            .item__slider-arrow.arr-left
            .item__slider-arrow.arr-right
        .item__add-items
            .item__add-item(data-type='Популярное')
                .item__add-item-top
                    .item__add-item-img
                        img(src="images/item/add/1.png")
                    .item__add-item-info
                        .item__add-item-name  Конфеты Raffaello Конфеты Raffaello
                        .item__add-item-quant 300 г
                        .item__add-item-price 599 ₽
                a.item__add-item-btn.btn
                    svg(width="20" height="20")
                        use(xlink:href="images/sprite.svg#shop")
                    span В корзину

            
            .item__add-item(data-type='Игрушка')
                .item__add-item-top
                    .item__add-item-img
                        img(src="images/item/add/2.png")
                    .item__add-item-info
                        .item__add-item-name Медведь Плюша
                        .item__add-item-quant 90 см
                        .item__add-item-price 2 500 ₽
                a.item__add-item-btn.btn
                    svg(width="20" height="20")
                        use(xlink:href="images/sprite.svg#shop")
                    span В корзину

            
            .item__add-item(data-type='Шарик')
                .item__add-item-top
                    .item__add-item-img
                        img(src="images/item/add/3.png")
                    .item__add-item-info
                        .item__add-item-name Фольгированное "Сердце"
                        .item__add-item-quant 
                        .item__add-item-price 1 750 ₽
                a.item__add-item-btn.btn
                    svg(width="20" height="20")
                        use(xlink:href="images/sprite.svg#shop")
                    span В корзину

            
            .item__add-item(data-type='Ваза')
                .item__add-item-top
                    .item__add-item-img
                        img(src="images/item/add/4.png")
                    .item__add-item-info
                        .item__add-item-name Ваза прозрачная
                        .item__add-item-quant 
                        .item__add-item-price 550 ₽
                a.item__add-item-btn.btn
                    svg(width="20" height="20")
                        use(xlink:href="images/sprite.svg#shop")
                    span В корзину

            
            .item__add-item(data-type='Конфеты')
                .item__add-item-top
                    .item__add-item-img
                        img(src="images/item/add/3.png")
                    .item__add-item-info
                        .item__add-item-name Фольгированное "Сердце"
                        .item__add-item-quant 
                        .item__add-item-price 1 750 ₽
                a.item__add-item-btn.btn
                    svg(width="20" height="20")
                        use(xlink:href="images/sprite.svg#shop")
                    span В корзину


                    
    .topper
        h2.modal__header Добавить топпер
        .item__slider-arrows
            .item__slider-arrow.arr-left
            .item__slider-arrow.arr-right
        .item__add-items
            .item__add-item(data-type='Популярное')
                .item__add-item-top
                    .item__add-item-img
                        img(src="images/item/add/1.png")
                    .item__add-item-info
                        .item__add-item-name  Конфеты Raffaello Конфеты Raffaello
                        .item__add-item-quant 300 г
                        .item__add-item-price 599 ₽
                a.item__add-item-btn.btn
                    svg(width="20" height="20")
                        use(xlink:href="images/sprite.svg#shop")
                    span В корзину

            
            .item__add-item(data-type='Игрушка')
                .item__add-item-top
                    .item__add-item-img
                        img(src="images/item/add/2.png")
                    .item__add-item-info
                        .item__add-item-name Медведь Плюша
                        .item__add-item-quant 90 см
                        .item__add-item-price 2 500 ₽
                a.item__add-item-btn.btn
                    svg(width="20" height="20")
                        use(xlink:href="images/sprite.svg#shop")
                    span В корзину

            
            .item__add-item(data-type='Шарик')
                .item__add-item-top
                    .item__add-item-img
                        img(src="images/item/add/3.png")
                    .item__add-item-info
                        .item__add-item-name Фольгированное "Сердце"
                        .item__add-item-quant 
                        .item__add-item-price 1 750 ₽
                a.item__add-item-btn.btn
                    svg(width="20" height="20")
                        use(xlink:href="images/sprite.svg#shop")
                    span В корзину

            
            .item__add-item(data-type='Ваза')
                .item__add-item-top
                    .item__add-item-img
                        img(src="images/item/add/4.png")
                    .item__add-item-info
                        .item__add-item-name Ваза прозрачная
                        .item__add-item-quant 
                        .item__add-item-price 550 ₽
                a.item__add-item-btn.btn
                    svg(width="20" height="20")
                        use(xlink:href="images/sprite.svg#shop")
                    span В корзину

            
            .item__add-item(data-type='Конфеты')
                .item__add-item-top
                    .item__add-item-img
                        img(src="images/item/add/3.png")
                    .item__add-item-info
                        .item__add-item-name Фольгированное "Сердце"
                        .item__add-item-quant 
                        .item__add-item-price 1 750 ₽
                a.item__add-item-btn.btn
                    svg(width="20" height="20")
                        use(xlink:href="images/sprite.svg#shop")
                    span В корзину




    .addedItem
        img.addedItemImg(src = "")
        h2.modal__header Товар добавлен <br> в корзину

        a.modal__btn.btn.addedItemBtn(href="/cart")
            svg(width="20" height="20")
                use(xlink:href="images/sprite.svg#shop")
            span Перейти в корзину
        
        a.modal__btn.btn.modal__close.addedItemBtn.btn--white
            svg(width="20" height="20")
                use(xlink:href="images/sprite.svg#shop2")
            span Продолжить покупки


    .auth
        .auth__modal
            h2.modal__header Авторизация

            form.modal__form(id="auth-form" method="post")

                label.modal__input-wrap.input-wrap
                    span.modal__input-name.inp-name Логин
                    input.modal__input.inp(type="text" name="login" placeholder="Логин" data-required)
                label.modal__input-wrap.input-wrap
                    span.modal__input-name.inp-name Пароль
                    input.modal__input.inp(type="password" name="password" placeholder="Пароль" data-required)
                    span.error-wrap
                    .eyes
                        svg.eye(width="22" height="22")
                            use(xlink:href="images/sprite.svg#eye")
                        svg.eye-y(width="22" height="22")
                            use(xlink:href="images/sprite.svg#eye-y")

                input.modal__submit.modal__btn.btn(type="submit" value="Войти")

                p.modal__smalltext. 
                    Нажимая кнопку “Войти”, Вы соглашаетесь на обработку персональных
                    данных, получение рассылок, а так же с <a href="policy.html">политикой конфиденциальности</a>


                a.modal__link(href="restore.html") Забыли пароль?
                a.modal__link(data-modal="reg") Зарегистрироваться



    .reg
        .reg__modal
            h2.modal__header Регистрация
            form(id="reg-form")
                .reg__line-one
                    label.modal__input-wrap.input-wrap
                        span.modal__input-name.inp-name Имя
                        input.modal__input.inp(type="text" name="name"  placeholder="Введите имя")
                    label.modal__input-wrap.input-wrap
                        span.modal__input-name.inp-name Фамилия
                        input.modal__input.inp(type="text" name="surname" placeholder="Введите фамилию")
                .reg__line
                    .reg__col
                        label.modal__input-wrap.input-wrap
                            span.modal__input-name.inp-name Логин <span class="red">*</span>
                            input.modal__input.inp(type="text" name="login" placeholder="Введите логин (min 3 символа) *" data-required)
                        label.modal__input-wrap.input-wrap
                            span.modal__input-name.inp-name E-mail
                            input.modal__input.inp(type="text" name="email" placeholder="Введите e-mail")
                    .reg__col
                        label.modal__input-wrap.input-wrap
                            span.modal__input-name.inp-name Пароль <span class="red">*</span>
                            input.modal__input.inp(type="password" name="password" placeholder="Введите пароль" data-required data-newpass)
                            .eyes
                                svg.eye(width="22" height="22")
                                    use(xlink:href="images/sprite.svg#eye")
                                svg.eye-y(width="22" height="22")
                                    use(xlink:href="images/sprite.svg#eye-y")
                        label.modal__input-wrap.input-wrap
                            span.modal__input-name.inp-name Подтвердите пароль <span class="red">*</span>
                            input.modal__input.inp(type="password" name="password" placeholder="Подтвердите пароль" data-required data-newpass)
                            span.pass-error-wrap
                            .eyes
                                svg.eye(width="22" height="22")
                                    use(xlink:href="images/sprite.svg#eye")
                                svg.eye-y(width="22" height="22")
                                    use(xlink:href="images/sprite.svg#eye-y")

                .reg__line-one
                    label.modal__input-wrap.input-wrap
                        input.modal__input.inp(type="text"  placeholder="Капча")
                    label.modal__input-wrap.input-wrap
                        span.modal__input-name.inp-name Слово на картинке <span class="red">*</span>
                        input.modal__input.inp(type="text" name="captcha" placeholder="Введите слово на картинке *" data-required)

                input.reg__submit.modal__submit.modal__btn.btn(type="submit" value="зарегистрироваться")

                p.modal__smalltext. 
                    Нажимая кнопку “Зарегистрироваться”, Вы соглашаетесь на обработку персональных
                    данных, получение рассылок, а так же с <a href="policy.html">политикой конфиденциальности</a>


                a.modal__link(data-modal="auth") Уже зарегистрированы? Войти


    .regThanks
        svg( width="170" height="180")
            use(xlink:href="images/sprite.svg#plane")
        h2.modal__header Благодарим <br> за регистрацию
        p.modal__text Вы зарегистрированы и успешно авторизовались
        
        a.modal__btn.btn(href="/")
            span На главную

        a.modal__link(href="/lk.html") В личный кабинет


    .callbackThanks
        svg( width="170" height="180")
            use(xlink:href="images/sprite.svg#plane")
        h2.modal__header Спасибо!
        p.modal__text Менеджер свяжется с Вами в течение 15 минут
        
        a.modal__btn.btn(href="/")
            span На главную



    .callback
        .callback__modal
            h2.modal__header Заказать звонок
            p.modal__text Оставьте свои контакты и мы свяжемся с вами в течение 15 минут

            form.modal__form(id="callback-form" method="post")

                label.modal__input-wrap.input-wrap
                    span.modal__input-name.inp-name Ваше имя
                    input.modal__input.inp(type="text" name="name" placeholder="Введите имя" data-required)
                label.modal__input-wrap.input-wrap
                    span.modal__input-name.inp-name Телефон <span class="red">*</span>
                    input.modal__input.inp(type="text" name="phone" placeholder="Введите телефон *" data-required)

                input.modal__submit.modal__btn.btn(type="submit" value="Перезвоните мне")

                p.modal__smalltext. 
                    Нажимая кнопку “Перезвоните мне”, Вы соглашаетесь на обработку персональных
                    данных, получение рассылок, а так же с <a href="policy.html">политикой конфиденциальности</a>


    .instant
        .instant__modal
            h2.modal__header Быстрый заказ
            p.modal__text Пожалуйста, укажите Ваши имя и телефон. И с Вами свяжется наш менеджер. Спасибо!


            form.modal__form(id="instant-form" method="post")

                label.modal__input-wrap.input-wrap
                    span.modal__input-name.inp-name Имя <span class="red">*</span>
                    input.modal__input.inp(type="text" name="name"  placeholder="Введите имя *" )
                label.modal__input-wrap.input-wrap
                    span.modal__input-name.inp-name Телефон <span class="red">*</span>
                    input.modal__input.inp(type="text" name="phone"  placeholder="Введите телефон *" )

                input.modal__submit.modal__btn.btn(type="submit" value="Оформить заказ")

                p.modal__smalltext. 
                    Нажимая кнопку “Оформить заказ”, Вы соглашаетесь на обработку персональных
                    данных, получение рассылок, а так же с <a href="policy.html">политикой конфиденциальности</a>