main.wrapper.mono-page

    .breadcrumbs
        a.breadcrumbs__item(href="/") Главная
        span.breadcrumbs__separator >
        a.breadcrumbs__item  Соберите свой идеальный МОНО букет из


    include ../layout/construct.pug