main.wrapper

    .breadcrumbs
        a.breadcrumbs__item(href="/") Главная
        span.breadcrumbs__separator >
        a.breadcrumbs__item Политика конфиденциальности

    h1.section-title Политика конфиденциальности

    .policy.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit esse tempore asperiores amet nemo vitae? Laboriosam consequuntur harum cupiditate, ea at enim! Temporibus debitis incidunt id? Hic culpa minima repudiandae.Quae ut aliquid aut fugit neque accusantium iure, sit ducimus, unde placeat quod! Veritatis iste maiores maxime quisquam explicabo illo, eius ullam corrupti? Nihil impedit, necessitatibus atque at aliquid ratione.Iure blanditiis enim, fuga sit reprehenderit provident at id minus modi! Id, incidunt? Eaque iusto dolor et quas, nostrum adipisci laboriosam facilis deserunt impedit quidem voluptatem optio mollitia fugit praesentium!Nostrum a ducimus impedit in natus quisquam aliquid, sapiente placeat dolorem aliquam, animi blanditiis dignissimos, qui repellendus unde ipsa dolorum quam? Ea minus laborum ullam molestias. Dignissimos, eius illum. Architecto.Voluptas velit sapiente, aliquid nisi voluptatibus maxime rem tempore maiores vel architecto a delectus? Repellat maiores nemo cupiditate doloremque ab vero atque fugit. Minima tempora laborum sit dicta asperiores quas.